<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>

    <%= vite_javascript_tag "packs/application.js", media: 'all', "data-turbo-track": "reload" %>
    <%= vite_stylesheet_tag "packs/application.js", media: 'all', "data-turbo-track": "reload" unless ViteRuby.instance.dev_server_running? %>

    <%= display_meta_tags title: current_page.data["title"] %>

    <script defer data-domain="hotwire.io" src="https://plausible.io/js/plausible.js"></script>
  </head>

  <body class="font-inter antialiased bg-black text-slate-100 lg:pt-2">
    <a href="/about" class="text-slate-100 flex justify-center backdrop-blur bg-white/20 text-center leading-4 lg:container lg:border lg:border-white/30 text-sm mx-auto px-5 py-2 md:py-1.5 font-medium lg:rounded-full">
      <div>
        <span class="text-yellow-400 font-bold">Hotwire.io</span> is a <b>community-driven</b> effort and is <b>not</b> affiliated with the official Hotwire project. Click here to learn more »
      </div>
    </a>

    <div class="flex flex-col min-h-screen overflow-hidden">
      <%= render partial: "header" %>
      <main class="grow">
        <%= yield %>
      </main>
      <%= render partial: "footer" %>
    </div>
  </body>
</html>
